@mixin background-img {
  height: 100%;
  position: relative;
  background-color: black;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../../img/background.jpg);
    background-size: cover;
    opacity: 0.6;
    z-index: 1;
  }
}

@mixin page-content {
  background-color: rgb(0, 0, 0);
  width: 45%;
  display: grid;
  align-items: start;
  padding: 0rem 3rem;
  z-index: 2;
}
