@import '../abstracts/mixins';

.Cart {
  @include background-img;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &-items {
    @include page-content;
    width: 40%;
    min-height: 40rem;
    color: black;
    background-color: white;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 2rem;

    h2 {
      justify-self: center;
      text-align: center;
    }

    h2,
    &-total {
      color: white;
      background-color: black;
      width: 100%;
      padding: 1rem;
    }

    &-list {
      display: grid;
      gap: 2rem;
      padding: 0rem 1rem;
    }

    &-total {
      margin-top: auto;
      text-align: end;
    }
  }
}

/* 1000px  */
@media only screen and (max-width: 62.5em) {
  .Cart-items {
    width: 60%;
  }
}

/* 700px  */
@media only screen and (max-width: 43.75em) {
  .Cart-items {
    width: 75%;
  }
}

/* 600px  */
@media only screen and (max-width: 37.5em) {
  .Cart-items {
    width: 95%;
  }
}
